<html>
  <body>
    <h1>NachoNight</h1>
    <p class="test">From: <%= from %></p>
    <p class="test">To: <%= to %></p>
    <p>Subject: <%= subject %></p>
    <div>
      <%= body %>
    </div>
  </body>
</html>
